<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2019-06-21T17:31:58Z</date>
	<key>WorkspacePath</key>
	<string>/Users/salvatorearchitetto/Desktop/rt-mobile-supreme/test-rt-app/FlarumApp.xcodeproj</string>
</dict>
</plist>
